Repository carousel-without-a-horse/ticket-to-ride: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-style, server-lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    client-lint:
      root: "packages/client/"
      glob: "*.{ts,tsx}"
      run: yarn eslint {staged_files}
    client-style:
      root: "packages/client/"
      glob: "*.{css,pcss}"
      run: yarn style {staged_files}
    client-tsc:
      root: "packages/client/"
      run: yarn tsc
    server-lint:
      root: "packages/server/"
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{ts,tsx,css,pcss}'
      run: yarn prettier -w {staged_files}
      stage_fixed: true

[CAR-55]: test 4
  packages/client/package.json
Due: none

v1.0.4
  lerna.json
  packages/client/package.json
Due: none

[CAR-55]: test 5
  .dockerignore
  Dockerfile.client
  package.json
  packages/client/package.json
  packages/client/postcss.config.js
  packages/server/package.json
  packages/server/src/app/index.ts
  packages/server/src/app/services/serverService/developmentServer.ts
  packages/server/src/app/services/serverService/productionServer.ts
Due: server-lint, prettier

v1.0.5
  lerna.json
  packages/client/package.json
Due: none

[CAR-55]: test 5
  packages/client/package.json
Due: none

v1.0.6
  lerna.json
  packages/client/package.json
Due: none

[CAR-55]: test 6
  Dockerfile.client
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  package.json
  packages/client/src/shared/services/httpService.ts
  packages/server/Dockerfile.dev
  packages/server/Dockerfile.prod
  packages/server/package.json
  packages/server/src/app/services/serverService/developmentServer.ts
  packages/server/src/app/services/serverService/productionServer.ts
  packages/server/src/database/DBService.ts
  yarn.lock
Due: client-lint, server-lint, prettier

[CAR-55]: README.md
  Dockerfile.client
  README.md
  package.json
Due: none

[CAR-55]: eslint
  packages/server/.eslintrc
  packages/server/src/app/index.ts
  packages/server/src/app/models/comment/CommentController.ts
  packages/server/src/app/models/topic/TopicController.ts
  packages/server/src/app/services/serverService/developmentServer.ts
  packages/server/src/app/services/serverService/productionServer.ts
Due: server-lint, prettier

[CAR-55]: README.md
  README.md
  packages/client/src/ssr.tsx
Due: client-lint, prettier

[CAR-65]: forum with author data
  README.md
  packages/client/src/entities/comment/types.ts
  packages/client/src/entities/theme/api.ts
  packages/client/src/entities/theme/types.ts
  packages/client/src/features/FormattedDate/index.ts
  packages/client/src/features/FormattedDate/types.ts
  packages/client/src/features/FormattedDate/ui.tsx
  packages/client/src/features/QueryTable/types.ts
  packages/client/src/features/QueryTable/ui.tsx
  packages/client/src/pages/ForumPage/ui/Themes/index.tsx
  packages/client/src/pages/ForumPage/ui/Themes/ui/TableActions/index.tsx
  packages/client/src/pages/ForumPage/ui/Themes/utils/columns.tsx
  packages/client/src/pages/ProfilePage/ui/ProfileForm/ui.tsx
  packages/client/src/pages/ThemePage/index.tsx
  packages/client/src/pages/ThemePage/pages/CreateThemePage/index.tsx
  packages/client/src/pages/ThemePage/pages/EditThemePage/index.tsx
  packages/client/src/shared/lib/i18n/locales/en.json
  packages/client/src/shared/lib/i18n/locales/ru.json
  packages/client/src/shared/ui/Popconfirm/index.ts
  packages/client/src/widgets/Comments/ui/Comment/ui.tsx
  packages/server/src/app/models/comment/CommentController.ts
  packages/server/src/app/models/comment/CommentModel.ts
  packages/server/src/app/models/comment/CommentRepository.ts
  packages/server/src/app/models/topic/TopicController.ts
  packages/server/src/app/models/topic/TopicModel.ts
  packages/server/src/app/models/topic/TopicRepository.ts
  packages/server/src/app/models/topic/TopicService.ts
  packages/server/src/app/models/topic/dto/topicGetAll.dto.ts
  packages/server/src/app/models/user/UserModel.ts
  packages/server/src/app/models/user/UserRepository.ts
  packages/server/src/app/models/user/UserService.ts
  packages/server/src/app/models/user/index.ts
  packages/server/src/database/DBService.ts
  packages/server/src/main.ts
  packages/server/src/types.ts
  packages/server/types/custom.d.ts
Due: client-lint, server-lint, prettier

[CAR-65]: fix queries data refresh
  packages/client/src/pages/ThemePage/pages/CreateThemePage/index.tsx
  packages/client/src/pages/ThemePage/pages/EditThemePage/index.tsx
  packages/client/src/widgets/Reply/ui.tsx
  packages/server/src/app/models/comment/CommentRepository.ts
Due: client-lint, server-lint, prettier

feat(ci/cd): add `build_and_push` workflow script
  .github/workflows/build_and_push.yml
Due: none

[CAR-65]: forum with author data (#36)
  README.md
  packages/client/src/entities/comment/types.ts
  packages/client/src/entities/theme/api.ts
  packages/client/src/entities/theme/types.ts
  packages/client/src/features/FormattedDate/index.ts
  packages/client/src/features/FormattedDate/types.ts
  packages/client/src/features/FormattedDate/ui.tsx
  packages/client/src/features/QueryTable/types.ts
  packages/client/src/features/QueryTable/ui.tsx
  packages/client/src/pages/ForumPage/ui/Themes/index.tsx
  packages/client/src/pages/ForumPage/ui/Themes/ui/TableActions/index.tsx
  packages/client/src/pages/ForumPage/ui/Themes/utils/columns.tsx
  packages/client/src/pages/ProfilePage/ui/ProfileForm/ui.tsx
  packages/client/src/pages/ThemePage/index.tsx
  packages/client/src/pages/ThemePage/pages/CreateThemePage/index.tsx
  packages/client/src/pages/ThemePage/pages/EditThemePage/index.tsx
  packages/client/src/shared/lib/i18n/locales/en.json
  packages/client/src/shared/lib/i18n/locales/ru.json
  packages/client/src/shared/ui/Popconfirm/index.ts
  packages/client/src/widgets/Comments/ui/Comment/ui.tsx
  packages/client/src/widgets/Reply/ui.tsx
  packages/server/src/app/models/comment/CommentController.ts
  packages/server/src/app/models/comment/CommentModel.ts
  packages/server/src/app/models/comment/CommentRepository.ts
  packages/server/src/app/models/topic/TopicController.ts
  packages/server/src/app/models/topic/TopicModel.ts
  packages/server/src/app/models/topic/TopicRepository.ts
  packages/server/src/app/models/topic/TopicService.ts
  packages/server/src/app/models/topic/dto/topicGetAll.dto.ts
  packages/server/src/app/models/user/UserModel.ts
  packages/server/src/app/models/user/UserRepository.ts
  packages/server/src/app/models/user/UserService.ts
  packages/server/src/app/models/user/index.ts
  packages/server/src/database/DBService.ts
  packages/server/src/main.ts
  packages/server/src/types.ts
  packages/server/types/custom.d.ts
Due: client-lint, server-lint, prettier

[CAR-54]: switch theme and lang, save options in db
  packages/client/src/app/providers/withStore.tsx
  packages/client/src/entities/settings/api.ts
  packages/client/src/entities/settings/index.ts
  packages/client/src/entities/settings/types.ts
  packages/client/src/features/FormattedDate/ui.tsx
  packages/client/src/features/LangSelect/ui.tsx
  packages/client/src/features/ThemeSwitcher/ui.tsx
  packages/client/src/pages/ThemePage/pages/EditThemePage/index.tsx
  packages/client/src/shared/hooks/index.ts
  packages/client/src/shared/hooks/useDebounce/index.ts
  packages/client/src/shared/hooks/useTimeoutFn/index.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/store.ts
  packages/client/src/shared/store/types.ts
  packages/client/src/ssr.tsx
  packages/client/typings/global.d.ts
  packages/server/src/app/index.ts
  packages/server/src/app/models/lang/LangModel.ts
  packages/server/src/app/models/lang/index.ts
  packages/server/src/app/models/theme/ThemeModel.ts
  packages/server/src/app/models/theme/index.ts
  packages/server/src/app/models/user/UserModel.ts
  packages/server/src/app/models/user/UserRepository.ts
  packages/server/src/app/models/userSettings/UserSettingsController.ts
  packages/server/src/app/models/userSettings/UserSettingsModel.ts
  packages/server/src/app/models/userSettings/UserSettingsRepository.ts
  packages/server/src/app/models/userSettings/UserSettingsService.ts
  packages/server/src/app/models/userSettings/dto/index.ts
  packages/server/src/app/models/userSettings/dto/userSettingsUpdate.dto.ts
  packages/server/src/app/models/userSettings/index.ts
  packages/server/src/app/models/userSettings/types.ts
  packages/server/src/app/services/serverService/developmentServer.ts
  packages/server/src/app/services/serverService/index.ts
  packages/server/src/app/services/serverService/productionServer.ts
  packages/server/src/app/services/serverService/server.ts
  packages/server/src/app/services/serverService/types.ts
  packages/server/src/app/services/serverService/utils/getInitialState.ts
  packages/server/src/database/DBService.ts
  packages/server/src/main.ts
  packages/server/src/types.ts
Due: client-lint, server-lint, prettier

[CAR-53, CAR-52]: likes
  packages/client/src/entities/likes/api.ts
  packages/client/src/entities/likes/index.ts
  packages/client/src/entities/likes/types.ts
  packages/client/src/features/Likes/index.ts
  packages/client/src/features/Likes/types.ts
  packages/client/src/features/Likes/ui.tsx
  packages/client/src/pages/GuidePage/index.tsx
  packages/client/src/pages/ThemePage/index.tsx
  packages/client/src/shared/ui/Likes/types.ts
  packages/client/src/shared/ui/Likes/ui.tsx
  packages/client/src/widgets/Comments/ui/Comment/ui.tsx
  packages/server/src/app/common/ValidateMiddleware.ts
  packages/server/src/app/index.ts
  packages/server/src/app/models/like/LikeController.ts
  packages/server/src/app/models/like/LikeModel.ts
  packages/server/src/app/models/like/LikeRepository.ts
  packages/server/src/app/models/like/LikeService.ts
  packages/server/src/app/models/like/dto/index.ts
  packages/server/src/app/models/like/dto/like.dto.ts
  packages/server/src/app/models/like/dto/likeGet.dto.ts
  packages/server/src/app/models/like/index.ts
  packages/server/src/app/models/like/types.ts
  packages/server/src/app/models/topic/TopicController.ts
  packages/server/src/database/DBService.ts
  packages/server/src/main.ts
  packages/server/src/types.ts
Due: client-lint, server-lint, prettier

fix `build_and_push` workflow script
  .github/workflows/build_and_push.yml
Due: none

[CAR-54]: switch theme and lang, save options in db (#42)
  packages/client/src/app/providers/withStore.tsx
  packages/client/src/entities/settings/api.ts
  packages/client/src/entities/settings/index.ts
  packages/client/src/entities/settings/types.ts
  packages/client/src/features/FormattedDate/ui.tsx
  packages/client/src/features/LangSelect/ui.tsx
  packages/client/src/features/ThemeSwitcher/ui.tsx
  packages/client/src/pages/ThemePage/pages/EditThemePage/index.tsx
  packages/client/src/shared/hooks/index.ts
  packages/client/src/shared/hooks/useDebounce/index.ts
  packages/client/src/shared/hooks/useTimeoutFn/index.ts
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/store.ts
  packages/client/src/shared/store/types.ts
  packages/client/src/ssr.tsx
  packages/client/typings/global.d.ts
  packages/server/src/app/index.ts
  packages/server/src/app/models/lang/LangModel.ts
  packages/server/src/app/models/lang/index.ts
  packages/server/src/app/models/theme/ThemeModel.ts
  packages/server/src/app/models/theme/index.ts
  packages/server/src/app/models/user/UserModel.ts
  packages/server/src/app/models/user/UserRepository.ts
  packages/server/src/app/models/userSettings/UserSettingsController.ts
  packages/server/src/app/models/userSettings/UserSettingsModel.ts
  packages/server/src/app/models/userSettings/UserSettingsRepository.ts
  packages/server/src/app/models/userSettings/UserSettingsService.ts
  packages/server/src/app/models/userSettings/dto/index.ts
  packages/server/src/app/models/userSettings/dto/userSettingsUpdate.dto.ts
  packages/server/src/app/models/userSettings/index.ts
  packages/server/src/app/models/userSettings/types.ts
  packages/server/src/app/services/serverService/developmentServer.ts
  packages/server/src/app/services/serverService/index.ts
  packages/server/src/app/services/serverService/productionServer.ts
  packages/server/src/app/services/serverService/server.ts
  packages/server/src/app/services/serverService/types.ts
  packages/server/src/app/services/serverService/utils/getInitialState.ts
  packages/server/src/database/DBService.ts
  packages/server/src/main.ts
  packages/server/src/types.ts
Due: client-lint, server-lint, prettier

[CAR-53][CAR-52] Реакции на топик и комментарий (#43)
  packages/client/src/entities/likes/api.ts
  packages/client/src/entities/likes/index.ts
  packages/client/src/entities/likes/types.ts
  packages/client/src/features/Likes/index.ts
  packages/client/src/features/Likes/types.ts
  packages/client/src/features/Likes/ui.tsx
  packages/client/src/pages/GuidePage/index.tsx
  packages/client/src/pages/ThemePage/index.tsx
  packages/client/src/shared/ui/Likes/types.ts
  packages/client/src/shared/ui/Likes/ui.tsx
  packages/client/src/widgets/Comments/ui/Comment/ui.tsx
  packages/server/src/app/common/ValidateMiddleware.ts
  packages/server/src/app/index.ts
  packages/server/src/app/models/like/LikeController.ts
  packages/server/src/app/models/like/LikeModel.ts
  packages/server/src/app/models/like/LikeRepository.ts
  packages/server/src/app/models/like/LikeService.ts
  packages/server/src/app/models/like/dto/index.ts
  packages/server/src/app/models/like/dto/like.dto.ts
  packages/server/src/app/models/like/dto/likeGet.dto.ts
  packages/server/src/app/models/like/index.ts
  packages/server/src/app/models/like/types.ts
  packages/server/src/app/models/topic/TopicController.ts
  packages/server/src/database/DBService.ts
  packages/server/src/main.ts
  packages/server/src/types.ts
Due: client-lint, server-lint, prettier

feat: add extra workflow script
  .github/workflows/publish_docker_image.yml
Due: none

add docker-compose-vm yml file
  docker-compose-vm.yml
Due: none

feature\CAR-67 доделал функционал страницы профиля
  packages/client/src/pages/ProfilePage/ui/PasswordForm/ui.tsx
  packages/client/src/pages/ProfilePage/ui/ProfileForm/data.ts
  packages/client/src/pages/ProfilePage/ui/ProfileForm/styles.module.pcss
  packages/client/src/pages/ProfilePage/ui/ProfileForm/ui.tsx
  packages/client/src/shared/constants/apiConsts.ts
  packages/client/src/shared/services/httpService.ts
  packages/client/src/shared/services/userServices/index.ts
  packages/client/src/shared/services/userServices/types.ts
  packages/client/src/shared/store/user/userStore.ts
Due: client-lint, client-style, prettier

v1.0.7
  lerna.json
  packages/client/package.json
Due: none

[CAR-68]: fix docker:build
  package.json
Due: none

[CAR-68]: test fix
  packages/client/src/pages/GamePage/index.tsx
Due: client-lint, prettier

v1.0.8
  lerna.json
  packages/client/package.json
Due: none

[CAR-68]: client version
  packages/server/package.json
Due: none

feature\CAR-67 правки
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/pages/ProfilePage/ui/PasswordForm/ui.tsx
  packages/client/src/pages/ProfilePage/ui/ProfileForm/ui.tsx
  packages/client/src/shared/constants/apiConsts.ts
  packages/client/src/shared/lib/i18n/locales/en.json
  packages/client/src/shared/lib/i18n/locales/ru.json
  packages/client/src/shared/services/httpService.ts
Due: client-lint, prettier
