Repository carousel-without-a-horse/ticket-to-ride: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-style, server-lint, prettier

client-lint:
  run: yarn eslint {staged_files}

client-style:
  run: yarn style {staged_files}

server-lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

CAR-38 добавлена логика начала и завершения игры
  packages/client/src/pages/EndGamePage/data.ts
  packages/client/src/pages/EndGamePage/ui.tsx
  packages/client/src/pages/GamePage/index.tsx
  packages/client/src/pages/StartGamePage/ui.tsx
  packages/client/src/shared/store/game/gameStore.ts
  packages/client/src/shared/store/game/types.ts
Due: client-lint, prettier

fix: start game link + port
  .env.sample
  Dockerfile.client
  Dockerfile.server
  packages/client/src/shared/lib/i18n/locales/en.json
  packages/client/src/shared/lib/i18n/locales/ru.json
  packages/client/src/widgets/Header/ui.tsx
Due: client-lint, prettier

fix: const
  packages/server/app/utils/developmentServer.ts
Due: server-lint, prettier

fix: @typescript-eslint/unbound-method
  packages/client/src/app/providers/withInitialState.tsx
  packages/client/src/ssr.tsx
Due: client-lint, prettier

CAR-38 правки
  packages/client/src/pages/EndGamePage/ui.tsx
Due: client-lint, prettier

CAR-38 правки
  packages/client/src/pages/EndGamePage/ui.tsx
  packages/client/src/pages/GamePage/index.tsx
Due: client-lint, prettier

feat(StartGamePage): add countdown before the start of the game, add translation, add 'Play' link to main header menu
  packages/client/src/pages/StartGamePage/index.tsx
  packages/client/src/pages/StartGamePage/ui.tsx
  packages/client/src/shared/lib/i18n/locales/en.json
  packages/client/src/shared/lib/i18n/locales/ru.json
  packages/client/src/shared/ui/Col/index.tsx
  packages/client/src/shared/ui/Countdown/index.tsx
  packages/client/src/widgets/Header/ui.tsx
Due: client-lint, prettier

fix: ssr store
  packages/client/src/app/index.tsx
  packages/client/src/app/providers/index.tsx
  packages/client/src/app/providers/withInitialState.tsx
  packages/client/src/app/providers/withStore.tsx
  packages/client/src/app/router/forum.tsx
  packages/client/src/app/router/router.tsx
  packages/client/src/pages/ProfilePage/ui/ProfileForm/ui.tsx
  packages/client/src/shared/lib/i18n/locales/en.json
  packages/client/src/shared/lib/i18n/locales/ru.json
  packages/client/src/shared/store/index.ts
  packages/client/src/shared/store/store.ts
  packages/client/src/shared/store/user/index.ts
  packages/client/src/shared/store/user/userStore.ts
  packages/client/src/ssr.tsx
  packages/client/src/widgets/Header/ui.tsx
  packages/client/src/widgets/SignInForm/ui.tsx
  packages/client/src/widgets/SignUpForm/ui.tsx
  packages/server/shared/repository/yandexAPIRepository.ts
Due: client-lint, server-lint, prettier

CAR-38 правки
  packages/client/src/pages/EndGamePage/ui.tsx
  packages/client/src/pages/EndGamePage/utils/resultConverter.ts
  packages/client/src/pages/GamePage/index.tsx
  packages/client/src/pages/StartGamePage/ui.tsx
  packages/client/src/shared/constants/gameStatus.ts
  packages/client/src/shared/store/game/gameStore.ts
  packages/client/src/shared/store/game/types.ts
Due: client-lint, prettier

feat: configure docker for client and server part via docker-compose file
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
Due: none

CAR-45 - Добавить ещё одно WEB API
  packages/client/src/pages/GamePage/index.tsx
  packages/client/src/shared/utils/useUserAttention.ts
Due: client-lint, prettier

Удалены лишние комментарии
  packages/client/src/pages/GamePage/index.tsx
  packages/client/src/shared/utils/useUserAttention.ts
Due: client-lint, prettier

Правки
  packages/client/src/pages/GamePage/index.tsx
  packages/client/src/shared/hooks/index.ts
  packages/client/src/shared/hooks/useUserAttention/index.ts
  packages/client/src/shared/hooks/useUserAttention/types.ts
  packages/client/src/shared/lib/i18n/locales/en.json
  packages/client/src/shared/lib/i18n/locales/ru.json
  packages/client/src/shared/utils/notification/intex.ts
Due: client-lint, prettier

Правка index
  packages/client/src/pages/GamePage/index.tsx
  packages/client/src/pages/GuidePage/index.tsx
  packages/client/src/pages/ProfilePage/ui/ProfileForm/ui.tsx
  packages/client/src/shared/utils/notification/index.ts
  packages/client/src/widgets/SignInForm/ui.tsx
  packages/client/src/widgets/SignUpForm/ui.tsx
Due: client-lint, prettier

CAR-45 - Добавить ещё одно WEB API (#29)
  packages/client/src/pages/GamePage/index.tsx
  packages/client/src/pages/GuidePage/index.tsx
  packages/client/src/pages/ProfilePage/ui/ProfileForm/ui.tsx
  packages/client/src/shared/hooks/index.ts
  packages/client/src/shared/hooks/useUserAttention/index.ts
  packages/client/src/shared/hooks/useUserAttention/types.ts
  packages/client/src/shared/lib/i18n/locales/en.json
  packages/client/src/shared/lib/i18n/locales/ru.json
  packages/client/src/shared/utils/notification/index.ts
  packages/client/src/widgets/SignInForm/ui.tsx
  packages/client/src/widgets/SignUpForm/ui.tsx
Due: client-lint, prettier

feature/CAR-44 лидерборд апи
  packages/client/src/pages/EndGamePage/ui.tsx
  packages/client/src/pages/EndGamePage/utils/resultConverter.ts
  packages/client/src/pages/RatingPage/data.ts
  packages/client/src/pages/RatingPage/index.tsx
  packages/client/src/pages/RatingPage/utils/responseConverter.ts
  packages/client/src/shared/constants/apiConsts.ts
  packages/client/src/shared/services/ratingServices/index.ts
  packages/client/src/shared/services/ratingServices/types.ts
Due: client-lint, prettier

chore: fix lint
  lefthook.yml
  packages/client/.eslintrc
  packages/client/src/app/providers/withTheme.tsx
  packages/client/src/ssr.tsx
  packages/server/__tests__/example.test.ts
Due: client-lint, server-lint, prettier

feat: postman collection
  docs/forum.postman_collection.json
Due: none

feature/CAR-44 правки
  packages/client/src/pages/EndGamePage/ui.tsx
  packages/client/src/pages/RatingPage/index.tsx
  packages/client/src/pages/RatingPage/styles.module.pcss
  packages/client/src/pages/RatingPage/types.ts
  packages/client/src/pages/RatingPage/utils/responseConverter.ts
  packages/client/src/shared/services/ratingServices/index.ts
  packages/client/src/shared/ui/Spin/index.ts
Due: client-lint, client-style, prettier

feature/CAR-44 правки
  packages/client/src/pages/EndGamePage/ui.tsx
  packages/client/src/pages/RatingPage/index.tsx
  packages/client/src/pages/RatingPage/types.ts
  packages/client/src/pages/RatingPage/utils/columns.ts
  packages/client/src/pages/RatingPage/utils/responseConverter.ts
  packages/client/src/shared/lib/i18n/locales/en.json
  packages/client/src/shared/lib/i18n/locales/ru.json
Due: client-lint, prettier

fix: try catch create comment
  packages/server/.gitignore
  packages/server/src/app/models/comment/CommentRepository.ts
  packages/server/src/app/models/comment/CommentService.ts
  packages/server/src/app/models/comment/types.ts
Due: server-lint, prettier

feature/CAR-46 Добавил в проект MEMORYLEAKS.md, в котором описаны, какие утечки были и как они исправлены
  README.md
  docs/memoryleacks.md
  packages/client/src/widgets/Game/ui/Map/ui.tsx
Due: client-lint, prettier

feature/CAR-46 правки
  docs/memoryleacks.md
Due: none

[CAR-46 ] (#33)
  README.md
  docs/memoryleacks.md
  packages/client/src/widgets/Game/ui/Map/ui.tsx
Due: client-lint, prettier

[CAR-55]: test config
  .env.sample
  docker-compose.yml
  docs/server.png
  packages/server/package.json
Due: none

v1.0.0
  lerna.json
  packages/client/package.json
Due: none

[CAR-55]: license for lerna
  packages/client/LICENSE.md
  packages/client/package.json
Due: none

[CAR-55]: yarn.lock
  yarn.lock
Due: none

[CAR-55]: test
  Dockerfile.client
  Dockerfile.server
  packages/client/LICENSE.md
  packages/client/package.json
  packages/server/package.json
  packages/server/src/app/services/serverService/productionServer.ts
  yarn.lock
Due: server-lint, prettier

v1.0.1
  lerna.json
  packages/client/package.json
Due: none

[CAR-55]: test 2
  packages/client/package.json
  packages/server/package.json
Due: none

v1.0.2
  lerna.json
  packages/client/package.json
Due: none

[CAR-55]: test 3
  packages/client/package.json
Due: none

v1.0.3
  lerna.json
  packages/client/package.json
Due: none

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^packages/client/
  client-style: any of: *.{css,pcss} and ^packages/client/
  server-lint: any of: *.{ts,tsx} and ^packages/server/
  prettier: any of: *.{ts,tsx,css,pcss}
